.amazing-hero {
  @apply h-[23rem] w-full pt-[2.1875rem] pl-[2.8125rem];
  background-image: url("/images/amazing-bg.jpeg");
  background-repeat: no-repeat;
}
.cat-deals {
  @apply flex gap-4 justify-between;
  img {
    border-radius: 18.83px;
  }
}
